[submodule "Language_modelling"]
	path = Language_modelling
	url = https://github.com/anmol-c03/Language_modelling
[submodule "positional_embedding"]
	path = positional_embedding
	url = https://github.com/anmol-c03/positional_embedding
[submodule "Fine_Tuning_concepts"]
	path = Fine_Tuning_concepts
	url = https://github.com/anmol-c03/Fine_Tuning_concepts
[submodule "opt_gpt"]
	path = opt_gpt
	url = https://github.com/anmol-c03/opt_gpt
